* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header section css */
.header-bg-img {
    background-image: url(images/banner/banner3.png
);
}

.header-btn {
    border: 0;
    background-color: orangered;
    color: white;
    padding: 10px 25px;
    font-weight: 500;
    font-size: larger;
}