* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 50px;
}

a {
    text-decoration: none;
    color: white;
}

/* navbar css */
.navbar {
    display: flex;
    justify-content: space-around;
    background-color: rgb(42, 34, 145);
    background-repeat: no-repeat;
    width: 100%;

}

.name {
    color: white;
    font-weight: 900;
    padding-top: 10px;
}

.search-input {
    border: solid white;
    padding: 5px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #121212;
    width: 350px;
    background: white;
}

.search-button {
    text-align: center;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
    top: 0;
    padding: 4px 10px;
    position: relative;
    right: 5px;
}

.searching {
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 0 5px 5px 0;
}

.nav-menu {
    padding-top: 15px;
    color: white;
    display: flex;
    gap: 20px;
    font-size: 30px;
    font-weight: 600;
}

/* header section css */
.header-bg-img {
    background-image: url(images/banner/banner3.png);
    height: 800px;
    width: 100%;
    text-align: right;


}

.btn {
    border: 0;
    background-color: orangered;
    color: white;
    padding: 10px 30px;
    font-weight: 900;
    font-size: larger;
    border-radius: 5px;
}

.header-text {
    color: white;
    padding-left: 50%;
    padding-right: 10%;
    padding-top: 20%;
}

/* middle section css */
ul {
    list-style: none;
}

.fa-check {
    color: blue;
}


.middile-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;

}

.half-width {
    width: 40%;
}

h2 {
    font-size: 40px;
    width: 700;
}

/* icon section start */
.icon-section {
    text-align: center;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
}

.icon {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;

}

/* gradiant section css */
.grad-bg {
    background-image: linear-gradient(120deg, rgb(80, 16, 255) 3%, rgba(38, 51, 109, 0) 70%), url(images/watch.png);
    background-repeat: no-repeat;
    height: 300px;
    margin-top: 60px;
    margin-left: 220px;
    margin-right: 220px;
    border-radius: 5px;



}

.grad-text {
    width: 50%;
    text-align: left;
    padding-left: 20px;
    padding-top: 40px;
    color: white;
}

/* footer section start */
.footer {
    display: flex;
    flex: 50% 50%;
    justify-content: space-around;
    margin-top: 50px;
    padding-top: 150px;
    /* padding-left: 150px;
    padding-right: 150px; */
    height: 500px;
    width: 100%;
    background-color: black;
    color: white;
}

.footer-text {
    width: 30%;
}

.social-icon {
    display: flex;
    gap: 10px;
}

.email {
    border: none;
    border-right: none;
    padding: 5px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    color: #121212;
    width: 350px;
    background: #D9D9D9;
}